@font-face {
    font-family: Calibri;
    src: url('../fonts/Calibri.ttf') format('truetype'),
    src: url('../fonts/Calibri.eot') format('eot'),
    src: url('../fonts/Calibri.woff') format('woff');
}

@font-face {
    font-family: Helvetica-Regular;
    src: url('../fonts/Helvetica-Regular.ttf') format('truetype'),
    src: url('../fonts/Helvetica-Regular.woff') format('woff');
}

.current > a:after{
    width: 0;
    height: 0;
    border-left: 20px solid rgb(0, 0, 0);
    border-right: 20px solid rgb(0, 0, 0);
    border-top: 3px solid #000000;
    content: " ";
    position: absolute;
    bottom: 5px;
    left: 26%;
}

body {
}

hr {
    border-top: 1px solid #000;
}

footer {
    background-color: #b2b2b1;
}

footer > .container {
    padding: 1rem;
}

footer > .container > span {
    color: #222222 !important;
}



.nav-background {
    background-color: rgba(137, 137, 128, 0.50);
}

.bg-first-section {
    background-image: url('../img/fundo.png');
}

.image-responsive {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.navbar-nav {
    justify-content: space-between;
}

.fill-contato {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.fill-atuacao {
    min-height: 100%;
    height: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#home{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* NEW */
}

#quem-somos{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* NEW */
}

#quem-somos {
    background-image: url("../img/quem-somos.png");
    min-height: 100vh;
}

.text-quem-somos {
    border: 1px solid #b76957;
    background-color: rgba(183, 105, 87, 0.80);
    padding: 1rem;
}

.text-quem-somos > h1 {
    color: #fff;
    font-family: 'Cinzel', serif;
}

.text-quem-somos > p {
    color: #000;
    font-family: 'Helvetica-Regular', serif;
}

.fill-quemsomos {
    min-height: 100%;
    height: 100%;
    margin-top: 6rem;
}

#equipe {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* NEW */
    margin-bottom: 2rem;
}

.fill-equipe {
    min-height: 100%;
    height: 100%;
    margin-top: 6rem;
}

.equipe-text {
    padding: 1rem;
}

.h1-equipe {
    color: #b76957;
    margin-bottom: 2rem;
    font-family: 'Cinzel', serif;
}

.h2-equipe {
    color: #b76957;
}

.h3-equipe {
    color: #b76957;
}

#atuacao {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex; /* NEW */
    background-image: url("../img/fundo.png");
}

/* #contato { */
/*     min-height: 90vh; */
/*     background-size: cover; */
/*     background-repeat: no-repeat; */
/*     background-position: center; */
/*     display: flex; /1* NEW *1/ */
/* } */

.hidden-xs-down {
    display:none !important;
}

.img-center {margin:0 auto;}

.equipe-text > p {
    margin-left: 3rem;
}

.box-atuacao > h2 {
    font-size: 26px;
    font-family: Cinzel;
}

label {
    color: #69696d;
}

.btn-default {
    color: #b76957;
    background-color: #fff;
    border-color: #b76957;
}

.div-contato {
    font-family: Helvetica Regular !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

    #home {
        min-height: 50vh;
        background-color: rgba(196, 196, 191, 0.05);
    }

    .text-quem-somos > p {
        font-size: 16px;
    }
    .row-logo {
        margin-top: 25vh;
    }
    .fa-linkedin {
        font-size:3.2rem;
        margin-top: 0.7rem;
        color: #b76a58;
    }
    .circle-linkedin {
        margin-top: 2rem;
        border: 1px solid #b76957;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    .div-contato-texto > h2 {
        color: #69696d;
    }
    .div-contato-texto > h4 {
        color: #69696d;
    }
    .div-atuacao {
        margin-top: 2rem;
    }
    .box-atuacao {
        border: 1px solid #b76957;
        color: #fff;
        background-color: #b76957;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    .box-atuacao > h2 {
        font-size: 26px;
        font-family: Cinzel;
    }
    .box-atuacao > h3 {
        font-size: 26px;
        font-family: Calibri;
    }
    .box-atuacao > h4 {
        font-size: 26px;
        font-family: Calibri;
    }
    .atuacao-icon > img {
        margin-top: 2em;
        width: 35%
    }
    .atuacao-icon-seta > img {
        margin-top: 2em;
        width: 28%;
    }
    .atuacao-icon-venture > img {
        margin-top: 2em;
        width: 25%;
    }
    .logo-menu {
        max-width: 15rem;
        margin-top: -7px;
    }
    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }
    .brand-contato {
        color: #69696d;
        font-size: 21px;
        margin-top: 3rem;
        margin-left: 2.6rem;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #home {
        min-height: 100vh;
        background-color: rgba(196, 196, 191, 0.05);
    }

    .text-quem-somos > p {
        font-size: 16px;
    }
    .row-logo {
        margin-top: 50vh;
    }
    .fa-linkedin {
        font-size:3.2rem;
        margin-top: 0.7rem;
        color: #b76a58;
    }
    .circle-linkedin {
        margin-top: 2rem;
        border: 1px solid #b76957;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        padding: 1rem;
    }
    .div-contato-texto > h2 {
        color: #69696d;
    }
    .div-contato-texto > h4 {
        color: #69696d;
    }
    .div-atuacao {
        margin-top: 2rem;
    }
    .box-atuacao {
        border: 1px solid #b76957;
        color: #fff;
        background-color: #b76957;
        margin-bottom: 1rem;
    }
    .box-atuacao > h2 {
        font-size: 26px;
    }
    .atuacao-icon > img {
        width: 35%
    }
    .atuacao-icon-seta > img {
        width: 28%;
    }
    .atuacao-icon-venture > img {
        width: 25%;
    }
    .logo-menu {
        max-width: 15rem;
        margin-top: -7px;
    }
    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .logo-menu {
        margin-top: 2rem !important;
    }

    .nav {
        margin-top: 3rem;
    }
    #home {
        min-height: 100vh;
        background-color: rgba(196, 196, 191, 0.05);
    }

    .row-logo {
        margin-top: 50vh;
    }

    .fa-linkedin {
        color: #b76a58;
        font-size:3.2rem;
        margin-top: 0rem;
    }

    .circle-linkedin {
        border: 1px solid #b76957;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-top: 0rem !important;
    }

    .brand-contato {
        color: #69696d;
        font-size: 21px;
        margin-top: 1rem;
        margin-left: 1.6rem;
    }
    .div-atuacao {
        margin-top: 2rem;
    }
    .box-atuacao {
        border: 1px solid #b76957;
        color: #fff;
        background-color: #b76957;
        margin-bottom: 1rem;
        height: 68rem;
        padding: 1rem;
    }
    .box-atuacao > h2 {
        font-size: 26px;
    }
    .atuacao-icon > img {
        width: 35%
    }
    .atuacao-icon-seta > img {
        width: 28%;
    }
    .atuacao-icon-venture > img {
        width: 25%;
    }

    .logo-menu {
        max-width: 15rem;
        margin-top: -7px;
    }
    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }
}


@media only screen  and (min-width : 992px) {
    #home {
        min-height: 100vh;
        background-color: rgba(196, 196, 191, 0.05);
    }
    .col-md-3 {
        width: 24%;
    }

    .box-atuacao {
        height: 83rem;
        margin-right: 1%;
    }
    .logo-menu {
        margin-top: 2rem !important;
    }

    .nav {
        margin-top: 3rem;
    }
    .text-quem-somos > p {
        font-size: 21px;
    }
    .atuacao-icon-venture > img {
        width: 25%;
    }
    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }

    .box-atuacao > h4 {
        font-size: 20px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    nav {font-size:16px;}
    p {font-size: 15px;}
    .logo-menu {
        margin-top: 2rem !important;
    }

    .nav {
        margin-top: 3rem;
    }
    #home {
        min-height: 100vh;
        background-color: rgba(196, 196, 191, 0.05);
    }
    .fa-linkedin {
        font-size: 2.4rem;
        color: #b76a58;
    }

    .circle-linkedin {
        margin-top: 1rem;
        border: 1px solid #b76957;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }

    .row-logo {
        margin-top: 50vh;
    }

    .div-contato {
        margin-top: 3.5rem;
    }
    .brand-contato {
        color: #69696d;
        font-size: 20px;
        margin-top: 1rem;
        margin-left: 3rem;
    }
    .div-contato-texto > h2{
        color: #69696d;
    }
    .div-contato-texto > h4 {
        color: #69696d;
    }
    .div-atuacao {
        margin-top: 2rem;
    }
    .box-atuacao {
        border: 1px solid #b76957;
        color: #fff;
        background-color: #b76957;
        margin-right: 5px;
        width: 24.5%;
        height: 74rem;
    }
    .box-atuacao > h2 {
        font-size: 26px;
    }
    .atuacao-icon > img {
        width: 35%
    }
    .atuacao-icon-seta > img {
        width: 28%;
    }
    .atuacao-icon-venture > img {
        width: 25%;
    }
    .logo-menu {
        max-width: 20rem;; margin-top: -7px;
    }
    #contato {
        min-height: 70vh !important;
    }
    .text-quem-somos > p {
        font-size: 21px;
    }
    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }

    .box-atuacao > h4 {
        font-size: 20px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    nav {font-size:16px;}
    .logo-menu {
        margin-top: 2rem !important;
    }

    .nav {
        margin-top: 3rem;
    }
    #home {
        min-height: 100vh;
        background-color: rgba(196, 196, 191, 0.05);
    }
    .div-contato {
        margin-top: 2rem;
    }

    .div-contato > h4 {
        color: #676564;
        margin-bottom: 6rem;
    }

    .circle-linkedin {
        margin-top: 1rem;
        border: 1px solid #b76957;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
    .div-contato-texto > h2{
        color: #69696d;
    }

    .div-contato-texto > h4 {
        color: #69696d;
    }

    .div-atuacao {
        margin-top: 2rem;
    }

    .box-atuacao {
        border: 1px solid #b76957;
        color: #fff;
        background-color: #b76957;
        margin-right: 5px;
        width: 24.5%;
        height: 100rem;
    }

    .box-atuacao > h2 {
        font-size: 26px;
    }

    .atuacao-icon > img {
        width: 35%
    }
    .atuacao-icon-seta > img {
        width: 28%;
    }
    .atuacao-icon-venture > img {
        width: 25%;
    }

    .logo-menu {
        max-width: 20rem;; margin-top: -7px;
    }
    .fa-linkedin {
        font-size: 2.4rem;
        color: #b76a58;
    }

    #contato {
        min-height: 70vh !important;
    }

    .text-quem-somos > p {
        font-size: 21px;
    }
    .brand-contato {
        margin-left: 3rem;
    }

    .box-atuacao > h4 {
        font-size: 20px;
    }
}

#navbar > ul > li {
    font-family: Calibri;
    font-size: 16px;
}

#navbar > ul > li > a {
    color: #222222;
}

#navbar > ul > li > a {
    color: #222222;
}
